<div class="card_1">
    <div class="row justify-content-between"> 
      <div class="col-md-2">      
        <h3>Proyectos</h3>
      </div>
      <div class="col-md-2" >
        <button class="btn bg-dark rounded-circle"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn bg-dark rounded-circle"><i class="bi bi-x"></i></button>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-2">
        <img src="assets/img/APLogo-20-20.png"  alt="logo-argentina Programa" width="60%" >
      </div>
      <div class="col-md-10">
        <h4>Argentina Programa</h4> 
        <h6>#YoProgramo</h6>
        <p>Portafolio Fullstack</p> 
        <p>Febrero 2022</p>          
      </div>
    </div>                    
  </div>
