<div class="card_1">
    <h3>Habilidades</h3>

    <div class="row justify-content-between" style="height:250px;">
      <div class="col-md-8">
                      <!-- Creating a container class that 
              hold other useful classes -->
        <div class="container-circulo">
        
        <!-- Creating a ui-widgets classes that 
            store other useful classes like 
            ui-values and ui-labels -->
          <div class="ui-widgets percent-25">
            <div class="ui-values">25%</div>
            <div class="ui-labels">JavaScript</div>
          </div>

          <div class="ui-widgets percent-50">
            <div class="ui-values">50%</div>
            <div class="ui-labels">HTML</div>
          </div>

          <div class="ui-widgets percent-50">
            <div class="ui-values">50%</div>
            <div class="ui-labels">CSS</div>
          </div>

          <div class="ui-widgets percent-50">
            <div class="ui-values">50%</div>
            <div class="ui-labels">Bootstrap</div>
          </div>
        </div>

      </div>
      <div class="col-md-2" >
        <button class="btn bg-dark rounded-circle"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn bg-dark rounded-circle"><i class="bi bi-x"></i></button>
      </div>

